h2, h3 {
    float:center;
    color:
    text-align:center;
}

p{
    font-size: 70px;
    text-align:center;
    background-color:aquamarine ;
}

img{
     height: 250px;
     border: dotted;
     margin: auto;
     float:center;
}

div {
    background-color:aquamarine; 
    font-style: normal;
    text-align: center;
    float: center;

    
}
body{
    background-color:
}